In [13]:
import nfl_data_py as nfl
import pandas as pd
import numpy as np

In [14]:
# pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [15]:
pbp = nfl.import_pbp_data([2024])
pbp

2024 done.
Downcasting floats.

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,out_of_bounds,home_opening_kickoff,qb_epa,xyac_epa,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe
0,1.0,2024_01_ARI_BUF,2024090801,BUF,ARI,REG,1,None,None,None,...,0.0,0.0,-0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,40.0,2024_01_ARI_BUF,2024090801,BUF,ARI,REG,1,ARI,away,BUF,...,0.0,0.0,0.257819,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,61.0,2024_01_ARI_BUF,2024090801,BUF,ARI,REG,1,ARI,away,BUF,...,0.0,0.0,-0.200602,NaN,NaN,NaN,NaN,NaN,0.456761,-45.676102
3,83.0,2024_01_ARI_BUF,2024090801,BUF,ARI,REG,1,ARI,away,BUF,...,0.0,0.0,2.028874,1.345418,9.321221,8.0,0.509778,0.363807,0.576656,42.334431
4,108.0,2024_01_ARI_BUF,2024090801,BUF,ARI,REG,1,ARI,away,BUF,...,0.0,0.0,0.754242,0.882798,5.783560,4.0,0.668478,0.255140,0.426443,57.355690
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49311,4718.0,2024_21_WAS_PHI,2025012600,PHI,WAS,POST,21,WAS,away,PHI,...,0.0,0.0,-0.722550,NaN,NaN,NaN,NaN,NaN,0.949295,-94.929489
49312,4747.0,2024_21_WAS_PHI,2025012600,PHI,WAS,POST,21,WAS,away,PHI,...,0.0,0.0,-2.747494,NaN,NaN,NaN,NaN,NaN,0.930013,-93.001251
49313,4769.0,2024_21_WAS_PHI,2025012600,PHI,WAS,POST,21,PHI,home,WAS,...,0.0,0.0,-0.650122,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49314,4791.0,2024_21_WAS_PHI,2025012600,PHI,WAS,POST,21,PHI,home,WAS,...,0.0,0.0,-2.106240,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49315,4813.0,2024_21_WAS_PHI,2025012600,PHI,WAS,POST,21,PHI,home,WAS,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
game = pbp.loc[pbp['game_id']=="2024_21_WAS_PHI"].copy()
# game.drop(game[game['posteam'].isna()].index, inplace=True)
# game.drop(game[game['epa'].isna()].index, inplace=True)
columns = ['posteam','time','qtr','down','ydstogo','yrdln','play_type','desc','ep','epa','total_home_epa','total_away_epa']
game[columns]

,posteam,time,qtr,down,ydstogo,yrdln,play_type,desc,ep,epa,total_home_epa,total_away_epa
49117,None,15:00,1.0,NaN,0.0,PHI 35,None,GAME,0.770222,-0.000000,0.000000,0.000000
49118,WAS,15:00,1.0,NaN,0.0,PHI 35,kickoff,"4-J.Elliott kicks 65 yards from PHI 35 to end zone, Touchback to the WAS 30.",0.770222,0.257819,-0.257819,0.257819
49119,WAS,15:00,1.0,1.0,10.0,WAS 30,run,(15:00) (Shotgun) 5-J.Daniels scrambles up the middle to WAS 31 for 1 yard (3-N.Smith; 90-J.Davis).,1.028041,-0.443009,0.185190,-0.185190
49120,WAS,14:25,1.0,2.0,9.0,WAS 31,pass,"(14:25) (No Huddle, Shotgun) 5-J.Daniels pass short right to 86-Z.Ertz to WAS 34 for 3 yards (2-D.Slay).",0.585033,-0.398863,0.584053,-0.584053
49121,WAS,13:52,1.0,3.0,6.0,WAS 34,pass,"(13:52) (No Huddle, Shotgun) 5-J.Daniels pass short left to 17-T.McLaurin to WAS 41 for 7 yards (27-Q.Mitchell).",0.186169,1.697098,-1.113045,1.113045
...,...,...,...,...,...,...,...,...,...,...,...,...
49311,WAS,02:00,4.0,3.0,4.0,WAS 36,run,(2:00) (Shotgun) 30-A.Ekeler up the middle to WAS 37 for 1 yard (43-N.Morrow).,0.713683,-0.722550,33.358109,-33.358109
49312,WAS,01:20,4.0,4.0,3.0,WAS 37,run,"(1:20) (No Huddle, Shotgun) 30-A.Ekeler up the middle to WAS 37 for no gain (97-M.Ojomo).",-0.008868,-2.747494,36.105602,-36.105602
49313,PHI,01:14,4.0,1.0,10.0,WAS 37,qb_kneel,(1:14) 7-K.Pickett kneels to WAS 39 for -2 yards.,2.756362,-0.650122,35.455479,-35.455479
49314,PHI,00:34,4.0,2.0,12.0,WAS 39,qb_kneel,(:34) 7-K.Pickett kneels to WAS 40 for -1 yards.,2.106240,-2.106240,33.349239,-33.349239
49315,PHI,00:00,4.0,NaN,0.0,None,None,END GAME,NaN,NaN,33.349239,-33.349239

In [17]:
game.loc[game['play_type']=='extra_point', columns]

,posteam,time,qtr,down,ydstogo,yrdln,play_type,desc,ep,epa,total_home_epa,total_away_epa
49139,PHI,07:39,1.0,NaN,0.0,WAS 15,extra_point,"4-J.Elliott extra point is GOOD, Center-49-R.Lovato, Holder-10-B.Mann.",0.932427,0.067573,3.431164,-3.431164
49151,PHI,03:43,1.0,NaN,0.0,WAS 15,extra_point,"4-J.Elliott extra point is GOOD, Center-49-R.Lovato, Holder-10-B.Mann.",0.932427,0.067573,11.364073,-11.364073
49212,PHI,00:39,2.0,NaN,0.0,WAS 15,extra_point,"4-J.Elliott extra point is GOOD, Center-49-R.Lovato, Holder-10-B.Mann.",0.932427,0.067573,14.917247,-14.917247
49237,PHI,08:58,3.0,NaN,0.0,WAS 15,extra_point,"4-J.Elliott extra point is GOOD, Center-49-R.Lovato, Holder-10-B.Mann.",0.932427,0.067573,17.793377,-17.793377
49272,PHI,12:24,4.0,NaN,0.0,WAS 15,extra_point,"4-J.Elliott extra point is GOOD, Center-49-R.Lovato, Holder-10-B.Mann.",0.932427,0.067573,16.268209,-16.268209
49287,PHI,07:58,4.0,NaN,0.0,WAS 15,extra_point,"4-J.Elliott extra point is GOOD, Center-49-R.Lovato, Holder-10-B.Mann.",0.932427,0.067573,24.333620,-24.333620
49307,PHI,03:03,4.0,NaN,0.0,WAS 15,extra_point,"4-J.Elliott extra point is GOOD, Center-49-R.Lovato, Holder-10-B.Mann.",0.932427,0.067573,32.522980,-32.522980

In [176]:
def game_epa(game, penalties=False):
    # remove posteam None, epa NaN. should catch start, end, timeouts
    game.drop(game[game['posteam'].isna()].index, inplace=True)
    game.drop(game[game['epa'].isna()].index, inplace=True)

    # we can't really properly measure impact of penalties, because we can't calculate expected points of the counterfactual
    # so let's just try removing plays with penalties for now. they are a part of a team's skill, so we can try adding them back in later
    # actually let's make it an arg
    if not penalties:
        game.drop(game[game['penalty']==1].index, inplace=True)

    home_team = game['home_team'].values[0]
    away_team = game['away_team'].values[0]
    game_id = game['game_id'].values[0]
    game_date = game['game_date'].values[0]

    df = game.groupby(['posteam', 'play_type']).agg({'epa': sum})

    # the opposing team's epa during their possessions is the inverse of your defense's epa
    home_off = pd.Series(df.loc[home_team]['epa'])
    home_def = pd.Series(df.loc[away_team]['epa']) * -1
    away_off = pd.Series(df.loc[away_team]['epa'])
    away_def = pd.Series(df.loc[home_team]['epa']) * -1

    index = pd.MultiIndex.from_tuples([], names=['game_id', 'team'])
    epa = pd.DataFrame(index=index, columns=["game_date", "extra_point", "extra_point_def", "field_goal", "field_goal_def", "kickoff", "kickoff_def", "punt", "punt_def", "pass", "pass_def", "run", "run_def", "qb_kneel", "qb_kneel_def"])

    epa.loc[(game_id, home_team), :] = [game_date, 
                                        home_off.get('extra_point', default=0), home_def.get('extra_point', default=0),
                                        home_off.get('field_goal', default=0), home_def.get('field_goal', default=0),
                                        home_off.get('kickoff', default=0), home_def.get('kickoff', default=0),
                                        home_off.get('punt', default=0), home_def.get('punt', default=0),
                                        home_off.get('pass', default=0), home_def.get('pass', default=0),
                                        home_off.get('run', default=0), home_def.get('run', default=0),
                                        home_off.get('qb_kneel', default=0), home_def.get('qb_kneel', default=0)]
    epa.loc[(game_id, away_team), :] = [game_date, 
                                        away_off.get('extra_point', default=0), away_def.get('extra_point', default=0),
                                        away_off.get('field_goal', default=0), away_def.get('field_goal', default=0),
                                        away_off.get('kickoff', default=0), away_def.get('kickoff', default=0),
                                        away_off.get('punt', default=0), away_def.get('punt', default=0),
                                        away_off.get('pass', default=0), away_def.get('pass', default=0),
                                        away_off.get('run', default=0), away_def.get('run', default=0),
                                        away_off.get('qb_kneel', default=0), away_def.get('qb_kneel', default=0)]

    

    return(epa)

In [177]:
epa = game_epa(game)
epa

                       game_date extra_point extra_point_def field_goal  \
game_id         team
2024_21_WAS_PHI PHI   2025-01-26    0.473011               0  -3.101566
                WAS   2025-01-26           0       -0.473011   2.011844

                     field_goal_def   kickoff kickoff_def      punt  punt_def  \
game_id         team
2024_21_WAS_PHI PHI       -2.011844  2.036313    2.586759 -0.895794  0.335223
                WAS        3.101566 -2.586759   -2.036313 -0.335223  0.895794

                           pass   pass_def        run    run_def  qb_kneel  \
game_id         team
2024_21_WAS_PHI PHI   14.478432   5.867966  10.096306   1.150234 -2.756361
                WAS   -5.867966 -14.478432  -1.150234 -10.096306         0

                     qb_kneel_def
game_id         team
2024_21_WAS_PHI PHI             0
                WAS      2.756361